header{

@include breakpoint(sm) {
		height: 250px;
		min-height: 0;
	}
}

header{
	width: 100%;
	z-index: 5;

	#main-menu{
		background: $color-stripes;
		@include flex_centering;
	}

	.header-wrapper{
		// max-width: 1200px;
		// width: 95%;
		// margin: auto;
		background: $color-blocks-layout;
	}

	.header-line{
		position: relative;
		display: none;
		height: 5px;
		background: $color-blocks-layout;
	}

	.col-1, .col-2, .col-3, .col-4, .col-5{
		float: none;
	}

	@include breakpoint(sm) {
		.header-line{
			display: block;
		}

		#main-menu, .logo{height: 110px;}

		#main-menu, .logo, .header-login{
			vertical-align: middle;
			float: none!important;
			padding: 0;
		}
	}
}
















