.logo{
  text-align: center;
  padding: 4% 0;
  @include flex_centering;

  img{
    height: auto;
    max-width: 234px;
    min-width: 152px;
    vertical-align: middle;
    width: 100%;
  }
}
