.events-list-wrapper.col-8
  .events-list-wrapper-border
    .list-header.col-10
      %h3.col-8 Найдено 49 событий
      %ul.col-2
        %li.show-map
          %a Карта
        %li.show-list.active
          %a Список
    = render 'components/events_list'
