.event-header.col-10
  .col-9.row
    %h1.col-10 Вечеринка на пляже
    .col-10
      %div Дата: 05.10.2015
      %div Время: 20:00 - 23:00
  .col-1
    .add-to-favorit
      %span В&nbsp;избранное
.line