.left-column.col-7.col-sm-5
  .left-column-i
    .school-header.col-7
      %h1.col-6 Вечеринка на пляже
      %button.add-to-favorit.col-1
        %span В&nbsp;избранное
    .school-header.col-7
      .col-7
        .date 12.12.2014
        .time 20:00 - 23:00
    .line
    .contacts-wrapper.col-7
      .telephone
        %h3 Телефон:
        %span 066 792 19 25 - Виталий
      .site
        %h3 Сайт:
        %a www.cubanadance.com
      .email
        %h3 Email:
        %a cubanadance@gmail.com
    .line
    .school-description-wrapper.row
      .picture-block-wrapper.col-7.col-xs-3
        =image_tag("stubs/school/news-1.jpg", class: 'school-img')
      .description-wrapper.col-7.col-xs-4
        .description-text
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet.
          %p Placeat.Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        = render 'components/social'
    .additional-information-wrapper.col-7
      %h2 Организаторы
      .line
      .arrange-wrapper.col-7
        =image_tag("stubs/event/logo1.png")
        =image_tag("stubs/event/logo1.png")
        =image_tag("stubs/event/logo1.png")
      %div
        %h2 Цены
        .line
        = render 'components/price'
  .left-column-i.comments
    = render 'components/comments'
  .left-column-i.comments
    = render 'components/send_message'
