.right-column.col-7.col-sm-2
  .right-column-i.map.no-stripe.col-7.col-xs-2.col-sm-7
    =image_tag("stubs/map/map.PNG")
  .right-column-i.col-7.col-xs-2.col-sm-7
    .address
      %h3 Адресс:
      %span Баррикадная, 2а
  .right-column-i.banner.no-stripe.col-7.col-xs-2.col-sm-7
    %figure
  .right-column-i.same-events.col-7.col-xs-5.col-sm-7
    = render 'components/same_events'
