%div
  %h2 Наши преподаватели
  .line
  .coach.col-10
    %div
      = image_tag('stubs/coach/coucher1.PNG')
      %div
        %div
          %a
            Виталий Пузаков
        %div Опыт: 5 лет
        %div
          В сети:
          %a
            http://vk.com/vpuzakov
    %div
      = image_tag('stubs/coach/coucher1.PNG')
      %div
        %div
          %a
            Виталий Пузаков
        %div Опыт: 5 лет
        %div
          В сети:
          %a
            http://vk.com/vpuzakov
    %div
      = image_tag('stubs/coach/coucher1.PNG')
      %div
        %div
          %a
            Виталий Пузаков
        %div Опыт: 5 лет
        %div
          В сети:
          %a
            http://vk.com/vpuzakov
