.coach.col-7
  %div
    = image_tag('stubs/coach/coucher1.PNG')
    %div
      %span Виталий Пузаков
  %div
    = image_tag('stubs/coach/coucher1.PNG')
    %div
      %span Виталий Пузаков
  %div
    = image_tag('stubs/coach/coucher1.PNG')
    %div
      %span Виталий Пузаков
