%h2 Комментарии
.line
.comments-i.col-7
  .col-1=image_tag("stubs/comments/1.jpg")
  .col-6
    .col-7
      %span.name Алиса в стране чудес
      %span.date 16 октября 2012 в 20:17
    .comment.col-7
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .replay.col-7
      %span Ответить
.line
.comments-i.col-7
  .col-1=image_tag("stubs/comments/2.jpg")
  .col-6
    .col-7
      %span.name Золушка
      %span.date 16 октября 2012 в 20:17
    .comment.col-7
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .replay.col-7
      %span Ответить
.line
.comments-i.col-7
  .col-1=image_tag("stubs/comments/3.jpg")
  .col-6
    .col-7
      %span.name Пакахонтес
      %span.date 16 октября 2012 в 20:17
    .comment.col-7
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .replay.col-7
      %span Ответить
    .col-1=image_tag("stubs/comments/1.jpg")
    .col-6
      .col-7
        %span.name Алиса в стране чудес
        %span.date 16 октября 2012 в 20:17
      .comment.col-7
        %p
          %span @Пакахонтес
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
      .replay.col-7
        %span Ответить
.line
.comments-i.col-7
  .col-1=image_tag("stubs/comments/3.jpg")
  .col-6
    .col-7
      %span.name Пакахонтес
      %span.date 16 октября 2012 в 20:17
    .comment.col-7
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .replay.col-7
      %span Ответить