.menu-copy
  .first_column
    .menu-image-i
      =image_tag("stubs/menu_copy/m6.jpg")
      %div Фотоотчёты
    .menu-image-i
      =image_tag("stubs/menu_copy/m3.jpg")
      %div Наборы в группы
    .menu-image-i
      =image_tag("stubs/menu_copy/m7.jpg")
      %div История сальсы
  .second_column
    .menu-image-i
      =image_tag("stubs/menu_copy/m8.jpg")
      %div Мероприятия
    .menu-image-i
      =image_tag("stubs/menu_copy/m2.jpg")
      %div Фильмы о сальсе
  .third_column
    .menu-image-i
      =image_tag("stubs/menu_copy/m4.jpg")
      %div Музыка
    .menu-image-i
      =image_tag("stubs/menu_copy/m9.jpg")
      %div Стили сальсы
    .menu-image-i
      =image_tag("stubs/menu_copy/m1.jpg")
      %div Мероприятия
