.menu-copy
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'events'}
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'schools'}
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'sets'}
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'photo'}
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'musik'}
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'style'}
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'video'}
  -# =image_tag("stubs/top_school/news1.jpg"){class: 'history'}
  .first_column
    =image_tag("stubs/menu_copy/m6.jpg")
    =image_tag("stubs/menu_copy/m3.jpg")
    =image_tag("stubs/menu_copy/m7.jpg")
  .second_column
    =image_tag("stubs/menu_copy/m8.jpg")
    =image_tag("stubs/menu_copy/m2.jpg")
  .third_column
    =image_tag("stubs/menu_copy/m4.jpg")
    =image_tag("stubs/menu_copy/m9.jpg")
    =image_tag("stubs/menu_copy/m1.jpg")
