.price
  %ul
    %li.col-7
      .col-2
        %span 35 грн.
        %span Разовое занятие
      .col-5
        %p Сальса, бачата, реггетон - младшие группы
    %li.col-7
      .col-2
        %span 280 грн.
        %span Абонимент
      .col-5
        %p Сальса, бачата, реггетон - младшие группы
    %li.col-7
      .col-2
        %span %
        %span Скидки
      .col-5
        %p Людям с двумя ушами и тремя хвостами скидки! Влюблённым и семейным парам - скидки! Бывшие заключённые - доплата нам 20% от общей суммы.