%div
  %h2 Цены
  .line
  .price
    %ul
      %li.col-10
        .col-3
          %span 35 грн.
          %span Разовое занятие
        .col-7
          %p Сальса, бачата, реггетон - младшие группы
      %li.col-10
        .col-3
          %span 280 грн.
          %span Абонимент
        .col-7
          %p Сальса, бачата, реггетон - младшие группы
      %li.col-10
        .col-3
          %span %
          %span Скидки
        .col-7
          %p Людям с двумя ушами и тремя хвостами скидки! Влюблённым и семейным парам - скидки! Бывшие заключённые - доплата нам 20% от общей суммы.