.same-events-wrapper
  %h2 Похожие события
  .line
  .same-events-i
    .same-events-photo
      -# =image_tag("components/top_school/medal1.png", class: 'school-medal')
      =image_tag("stubs/same_events/news1.jpg")
    .top-school-name Вечер в подвале
    .top-school-address ул. Баррикадная, 2
    .top-school-link-more
      %span Подробнее
    .clear
  .same-events-i
    .same-events-photo
      -# =image_tag("components/top_school/medal2.png", class: 'school-medal')
      =image_tag("stubs/same_events/news10.jpg")
    .top-school-name Вечер Чегивары
    .top-school-address ул. Баррикадная, 2
    .top-school-link-more
      %span Подробнее
    .clear
  .same-events-i
    .same-events-photo
      -# =image_tag("components/top_school/medal3.png", class: 'school-medal')
      =image_tag("stubs/same_events/news11.jpg")
    .top-school-name Вечер огня
    .top-school-address ул. Баррикадная, 2
    .top-school-link-more
      %span Подробнее
    .clear
.show-more
  %span Ещё события
.clear