.contacts-wrapper.col-10
  .telephone
    %h3 Телефон:
    %span 066 792 19 25 - Виталий
  .site
    %h3 Сайт:
    %a www.cubanadance.com
  .email
    %h3 Email:
    %a cubanadance@gmail.com
  .address
    %h3 Адресс:
    %a г. Днепропетровск, Баррикадная, 2а
  .line