.schedule-icon &#9776;
.table.schedule
  %h2 Наше расписание
  .line
  .table-wrapper
    .table-row
      .table-cell Группа
      .table-cell Пн.
      .table-cell Вт.
      .table-cell Ср.
      .table-cell Чт.
      .table-cell Пт.
      .table-cell Суб.
      .table-cell Воскр.
    .table-row
      .table-cell Сальса / Младшая группа
      .table-cell
      .table-cell 20:00 - 21:30
      .table-cell
      .table-cell 20:00 - 21:30
      .table-cell
      .table-cell
      .table-cell
    .table-row
      .table-cell Сальса / Старшая группа
      .table-cell
      .table-cell 19:40 - 21:10
      .table-cell
      .table-cell 19:40 - 21:10
      .table-cell
      .table-cell
      .table-cell
    .table-row
      .table-cell Бачата
      .table-cell 19:40 - 21:10
      .table-cell
      .table-cell 19:40 - 21:10
      .table-cell
      .table-cell
      .table-cell
      .table-cell
    .table-row
      .table-cell Зук
      .table-cell 19:40 - 21:10
      .table-cell
      .table-cell 19:40 - 21:10
      .table-cell
      .table-cell
      .table-cell
      .table-cell


