%h2 Фотоотчёты
.line
.school-news
  .overlay-img
    =image_tag("stubs/school_news/news-1.png")
    .overlay
      Сальсатека в Ле-Гранд 22.10.2013
  .overlay-img
    =image_tag("stubs/school_news/news-2.png")
    .overlay
      Сальсатека в Ле-Гранд 22.10.2013
  .overlay-img
    =image_tag("stubs/school_news/news-3.png")
    .overlay
      Сальсатека в Ле-Гранд 22.10.2013
.show-more
  %span Смотреть все наши фотоотчёты