%h2 Оставить комментарий
.line
%form
  .form-header.col-10
    .col-3
      %div.col-10
        %p Для того чтобы оставить комментарий, вам нужно быть зарегестрированным пользователем. Заполните пожалуйста необходимые для регистрации поля.
      %div.col-10
        %label.col-2 Ваше имя:
        .col-5
          %input{type: 'text'}
      %div.col-10
        %label.col-2 Ваш email:
        .col-5
          %input{type: 'text'}
    .col-4
      %textarea
      %button Отправить