.group-sets
  .col-2.coucher-img
    = image_tag('stubs/sets/coucher1.PNG')
  .col-5.set-description
    .col-7
      .col-5
        %div
          %span Набор в группу по
          %a.style Сальсе
          %span уровня
          %span.level начинающие
        %div
          %span Преподаватель:
          %a.coucher Виталий Пузаков
        .date
          %span Дата:
          %span 13 октября - 14 ноября 2014 г.
      .col-2.enroll-wrapper
        .enroll Я буду
    .line
    .description
      %p Проводится набор в группу на Latina MIX (сальса, бачата, реггетон) в танцевальную студию iDance (ул. Западынская 9). Занятия проходят по вторникам и четвергам в 9.00 и с 20:00 до 21:30, в воскресенье с 15:00 до 17:00. Стоимость: 12 занятий- 350 грн. Если есть желание танцевать, жду звонка и, естественно, Вас на занятиях!
.line
.group-sets
  .col-2.coucher-img
    = image_tag('stubs/sets/coucher1.PNG')
  .col-5.set-description
    .col-7
      .col-5
        %div
          %span Набор в группу по
          %a.style Сальсе
          %span уровня
          %span.level начинающие
        %div
          %span Преподаватель:
          %a.coucher Виталий Пузаков
        .date
          %span Дата:
          %span 13 октября - 14 ноября 2014 г.
      .col-2.enroll-wrapper
        .enroll Я буду
    .line
    .description
      %p Проводится набор в группу на Latina MIX (сальса, бачата, реггетон) в танцевальную студию iDance (ул. Западынская 9). Занятия проходят по вторникам и четвергам в 9.00 и с 20:00 до 21:30, в воскресенье с 15:00 до 17:00. Стоимость: 12 занятий- 350 грн. Если есть желание танцевать, жду звонка и, естественно, Вас на занятиях!