.video
  %h2 Наше Видео
  .line
  .owl-carousel
    %div.video-i
      %iframe{src: "//www.youtube.com/embed/lfHOOr9eATs",frameborder: 0, allowfullscreen: true}
    %div.video-i
      %iframe{src: "//www.youtube.com/embed/nGX2Sv8WpnU",frameborder: 0, allowfullscreen: true}
    %div.video-i
      %iframe{src: "//www.youtube.com/embed/cEOzlB1sWtw?list=FL9XvNhKYvd16Nj3sH_LKI5A",frameborder: 0, allowfullscreen: true}