.left-column-i{
	.additional-information-wrapper > div{margin-top: 30px;}

	.social-networcs-links{float: right;}

	.school-header{
		overflow: hidden;

		.add-to-favorit{
			display: flex;
			justify-content: flex-end;

			span{
				@include dotted_links;
				&:hover{@include hover_link;}
			}
		}

		.top-school-rate{
			margin-bottom: 0;
			line-height: 2em;
			display: flex;
			align-items: center;

			.rating-stars{
				line-height: 0;
			}

			&:before{
				content: '9.99';
				font-weight: bold;
				width: 38px;
				height: 28px;
				float: left;
				// background: #FEAE16;
				padding: 5px;
				border-radius: 20px;
			}
		}
	}

	.contacts-wrapper{
		overflow: hidden;
		display: flex;
		justify-content: space-between;

		a{
			display: block;
			font-family: 'Roboto', sans-serif!important;
			@include dotted_links;
			&:hover{@include link_blue;}
		}
	}

	.school-description-wrapper{
		overflow: hidden;
		padding-top: 10px;
		.tag-wrapper {
			padding-bottom: 3%;

			ul{
				overflow: hidden;
				display: flex;
				justify-content: flex-end;
			}

			li{
				float: left;
				padding: 3.5%;
				margin-right: 2%;
				background: $color-grey-super-light;

				&:hover{
					@include hover_element;
				}

				&:nth-last-child(1){margin-right: 0}
			}
		}
	}

	.school-img{width: 100%;}

	.description-text{
		padding-bottom: 5%;
		text-align: justify;

		p{
			// text-indent: 1.2em;
			margin-bottom: 2%;
		}
	}



	.video{
		.video-i{
			width: 100%;
			iframe{width: 100%;}
		}
	}



	.comments-i{
		padding-top: 20px;
		overflow: hidden;
		img{
			border-radius: 25px;
			float: left;
			margin-right: 3%;
		}


		.col-7{overflow: hidden;}
		.name{
			font-weight: bold;
			margin-right: 2%;
		}

		.date{
			color: $color-grey-light;
			margin-right: 0;
		}

		.comment{
			padding-top: 20px;
			padding-bottom: 10px;

			p{text-indent: 0;}
			span{
				font-weight: bold;
				color: $color-blue;
			}
		}

		.replay{
			margin-bottom: 20px;
			span{@include dotted_links;
			}
		}
	}

	form{
		padding-top: 10px;
	}
}


@include breakpoint (xs) {
	.schedule{
		display: table;
		}

	.schedule-icon{
		display: none;
	}
}





