.event-description-wrapper{
    overflow: hidden;
    padding-top: 10px;

    img{width: 100%;}

    .description-text{
      padding-bottom: 5%;
      text-align: justify;
      padding: 0 0 0 20px;

      p{margin-bottom: 2%;}
    }
  }
