
.map{
	background: transparent;
	img{
		display: block;
		width: 100%;
	}
}

.address {
	padding: 6.87% 7.44%;

	h3:before{
		content: '';
		float: left;
		position: relative;
		width: 13px;
		height: 19px;
		background-image: image-url('components/map/address_icon.png');
		margin-right: 5px;
	}

	span{
		@include dotted_links;
		@include link_blue;
	}
}

.school-news{
	margin-right: 0!important;

	.school-news-wrapper{
		padding: 6.87% 7.44%;

		.school-news-i{
			text-align: justify;

			.show-more{
				margin-top: 5%;
				float: none;
				text-align: left;

				&:after{
					content: ''!important;
					width: 0!important;
					height: 0!important;
				}
			}
		}
	}
}












