.list.col-8
  .list-wrapper
    %h3 Оглавление
    %ul
      %li Начало истории
      %li Дансон
      %li Сон
      %li Румба
      %li Гуахира
      %li Явление Дядюшки Сэма
      %li Второе крыло
      %li От дансона и сона — к сону-монтуно
      %li Мамбо
      %li В поисках стиля: шаг вперёд, два шага назад. Ча-ча-ча!
      %li «Осторожно, двери закрываются», или Пачанга
      %li Бугалу, шинг-а-линг, хала-хала
      %li Сальса
      %li Кубинская музыка с 1960-х до наших дней
      %li Танцевальные стили
    %h3 Начало истории
    %p Любой сальса-новичок «на голубом глазу» расскажет вам, что сальса — это кубинский народный танцевальный и музыкальный жанр. Нередко это утверждение можно увидеть и на сайтах уважаемых школ сальсы. Так ли это на самом деле? — Давайте попробуем разобраться.

    %p Начать свои изыскания нам придётся очень далеко, а именно — в конце XV века. 13 октября 1492 года Христофор Колумб достиг берегов «Западной Индии». Крупнейший остров Вест-Индии — Куба — благодаря своему выгодному расположению быстро стал центром испанской колонизации Нового Света.

    %p Испанцы настолько рьяно принялись насаждать цивилизацию на открытых землях, что ко второй половине XVI века уничтожили практически всех индейцев — таино и сибонеев, проживавших на острове. Однако, поскольку кто-то должен был заниматься «нецивилизованным» тяжёлым трудом, на Кубу пошли многочисленные караваны судов, гружённых «живым товаром» — рабами из Западной Африки. Начавшись около 1513 года, этот поток продолжался вплоть до 1860-х годов. Само же рабство на Кубе было отменено лишь в 1886 году.

    %h3 Дансон

    %p Принято считать, что первый дансон, Las alturas de Simpson (Симпсоновские высоты), был написан мулатом Мигелем Фаильде в 1879 году. Однако это весьма упрощённое видение вопроса. Музыкальные жанры не создаются «вдруг», из ничего — как правило, они исподволь «прорастают» из более старой музыки, эволюционно развиваясь под действием множества внешних обстоятельств. Так было и с дансоном.

    %p Предком дансона стал контрданс, проделавший на Кубе сложный и длительный путь. Возникнув в Англии в народной среде, в конце XVII века country-dance был занесён во Францию, где распространился в средних слоях населения. Из Франции он был завезён на Эспаньолу (Гаити), западная часть которой в 1697 году стала французской колонией. Это был галантный фигурный танец, не требовавший от танцоров большого искусства. Музыканты-негры Санто-Доминго восприняли его с энтузиазмом, придав контрдансу ритмическую живость, которой был лишён первоначальный образец.

    %p В 1791 году на Гаити вспыхнуло жестокое восстание негров-рабов, началось массовое бегство французских колонистов. Многие из них перебрались на Кубу, где осели в восточной части острова. В Сантьяго-де-Куба беженцы с Гаити открыли множество школ танцев, музыки, рисования, хороших манер, языка и даже основали театр, где ставились драмы, комедии, комические оперы, давались концерты, которые обычно оканчивались менуэтом.

    %p Благодаря этому французский контрданс, схожий с менуэтом, удивительно быстро прижился на кубинской почве. Он не только распространился на острове, но и, благодаря особому синкопированному ритму в басах, превратился в кубинский контрданс, сохранявший популярность на Кубе в течение почти всего XIX века. Существовало две его разновидности: с размером 6/8 (от которого произошли криолья и гуахира) и 2/4 (от которого произошли данса, хабанера и дансон).

    %p Одни из наиболее интересных кубинских контрдансов были созданы композитором Мануэлем Саумеллем. Контрдансы Саумелля состоят из двух частей: первой, построенной в классическом духе, и второй, более схожей с кубинской народной музыкой. Саумелль первым использовал некоторые ритмы, которые в будущем распространились на острове под новыми названиями. Так, один из самых популярных контрдансов Саумелля — «Тедеско» — является уже практически настоящим дансоном.

    %p Дансон стал новым типом танца благодаря композитору из Матансаса Мигелю Фаильде. В конце 1877 года он сочинил четыре дансона, озаглавленных «Безумие», «Неблагодарность», «Жалобы» и «Высоты Симпсона». Часто говорят, что Фаильде «изобрёл» дансон, забывая о том, что дансоны как таковые появлялись уже задолго до этого: вначале музыка дансона почти не отличалась от музыки контрданса. Дансоном называли парный танец, который постепенно вытеснил танец фигурный, т. е. контрданс. Первая и вторая части контрданса со всеми их характерными особенностями продолжали существовать в дансоне. Уже в 1878 году дансон распространился довольно широко, судя по конкурсу, организованному в Театро Альбису. Оркестры под руководством Фаильде (Матансас) и Раймундо Валенсуэлы (Гавана) исполняли гуарачи, болеро, пунто де клаве, гуахиры, а также дансоны. Наконец, в 1879 году общество города Матансас официально допустило дансон, уже хорошо известный народу, на праздник, устроенный в залах лицея. Таким образом, 1879 год — не год рождения дансона, а скорее лишь время его «официального разрешения».

    %p Музыкально дансон состоит из нескольких частей. Первая из них, вступление, носит название пасео — т. е. «шествие» или «прогулка». Обычно она длится в течение 16-ти тактов; обозначается буквой A. За ней следует часть B — основная тема, в которой солируют флейты, благодаря чему её часто называют секцией флейт. После части B повторяется секция A, а за ней — часть C, которую называют трио либо скрипичной секцией. Завершается классический дансон либо стандартной концовкой (каковых имеется несколько), либо вариациями секции A, либо используются комбинация обоих этих вариантов. В 1930-х годах дансон пополнился ещё одной, дополнительной частью, но речь об этом пойдёт несколько позже.

    %p Приблизительно до 1920 года дансон был национальным танцем Кубы. В течение сорока лет не происходило ни одного события, которое не отмечалось бы дансоном. Существовали дансоны, приветствовавшие установление республики; политические дансоны, такие, как «Триумф Союза» или «Сайяс не прошёл»; патриотические дансоны, например, «Марти не должен был умирать»; дансоны первой европейской войны, такие, как «Взятие Варшавы» и «Союзники и немцы». Можно сказать, что начиная с 1910 года всякий подходящий музыкальный элемент переходил в дансон — модные болеро, уличные прегоны и даже американские рэг-таймы.

    %p Однако всему приходит конец. Несмотря на постепенное видоизменение в соответствии с текущей модой, к 1930-м годам дансон на Кубе практически сошёл на нет. И во многом причиной этого стало то, что около 1920 года Гавану наводнил сон.

    %h3 Сон

    %p Сон стал для гаванцев совершенно новым и неожиданным явлением, несмотря на то, что возник он куда раньше (хотя это и трудно было предположить). С XVI до XVII века словом «сон» обозначались неопределённые формы народной танцевальной музыки. Собственно же сон начал обретать форму с появлением французских негров в Сантьяго-де-Куба. Его развитие (преимущественно в народной среде) было параллельным развитию контрданса.

    %p Сон имеет те же составные элементы, что и дансон. Но оба жанра стали совершенно несхожими из-за различных путей развития: контрданс был салонным танцем, сон — танцем чисто народным. Контрданс исполняли оркестры; сон был песней, сопровождаемой в основном ударными. Благодаря сону афрокубинская перкуссия, распространение которой сперва было ограничено негритянскими бараками и бедными городскими кварталами, показала свои богатые выразительные возможности. Трудно поверить, но до 1920 года кубинские танцевальные оркестры знали из ударных инструментов только литавры (но не пайлы или тимбалы), гуиро и клаве; даже мараки использовались значительно реже, чем сейчас. Весь остальной арсенал афрокубинской перкуссии оставался в тени.

    %p Новые для обитателей кубинской столицы инструменты буквально потрясли местную публику своей «первобытностью»: маримбула, кихада, бонго, колокольчики-эконы, ботихуэла (глиняный кувшин с узким горлом; губами из него извлекается звук, аналогичный пиццикато контрабаса); дьенте де арадо («зуб плуга», звучащий как колокольчик с низким звуком), пайлы и тимбалы…

    %p Революция, произведенная группой ударных сона, состояла в создании полиритмии, подчиненной единому метру. До тех пор говорили: ритм контрданса, ритм гуарачи, ритмы дансона (множественность ритмов допускалась только в виде следования одного за другим). Сон же вводил новые категории: внутри общего движения каждый элемент ритма оставался самостоятельным. Если функция ботихуэлы и дьенте де арадо состояла в скандировании, подчеркивании метра, то тимбалы должны были вносить ритмическое разнообразие; если маримбула издавала всего три или четыре басовые ноты, то трес мог исполнять весьма сложные сольные фразы.
