.list.col-8
  .list-wrapper
    %h3 Команды руэды

    %p Abajo — (вниз) — танцуем сальсу по кругу, двигаясь назад. Пары в закрытых позициях;

    %p Al medio [p’al medio] (В центр) — сигнал к открытию Руэды. Используется как приглашение к началу танца и для синхронизации участников. Пары двигаются в закрытой позиции внутрь круга и из него. Одновременно с движением внутрь опускают руки в центр, при движении из круга — поднимают руки вверх. Движение продолжается до тех пор, пока не прозвучит следующая команда (например, arriba, abajo, dile que no и т. д.);

    %p Arriba (наверх) — танцуем сальсу по кругу, двигаясь вперёд, по направлению к кантеру. Пары в закрытых позициях;

    %p  Bulla [Una bulla] (шум, гам) — Во время исполнения pa’l medio, кричим «hey!» на счет 5;

    %p  Capelia — три раза делаешь поворот партнёрши в центр круга, после третьего поворота хватаешь следующую партнершу за нижнюю часть спины :) и остаёшься у начальной партнёрши;

    %p  Dame [dame una] (дай мне) — dile que no с переходом к следующей партнёрше;

    %p  Dame dos — dame с переходом ко второй партнёрше (через одну);

    %p  Dame tres — dame с переходом к третьей партнёрше (через две);

    %p  Dame con una — dame с одним хлопком на счёт 7;
    %p  Dame con dos — dame с двумя хлопками на счёт 7,8;
    %p  Dame con tres — dame с тремя хлопками на счёт 7,8,1;

    %p  Dame con uno-dos-tres — подряд 3 команды: dame con uno, потом dame con dos и dame con tres;

    %p  Dame por la cabeza — dame с ведением партнёрши за голову (рука на затылке партнёрши);

    %p  Dame por el culo — dame с ведением партнёрши за «хвост» (то, что ниже спины и выше ног);

    %p  Dame por el estómago — dame с ведением партнёрши за живот (при этом не партнёр впивается рукой в живот девушки, а партнёрша сама «приклеивается» животом к руке партнеёра);

    %p Dame por la nariz — dame с ведением партнёрши за нос (нежно зажимаем носик партнёрши);
    %p Dame por la oreja — dame с ведением партнёрши за ухо;

    %p Dame por la pierna — dame с ведением партнёрши за ногу в районе колена;