.list.col-8
  .list-wrapper
    .tag.col-10
      .tag-wrapper.col-10
        %h3 Найденно 34 новости
        %ul
          %li Наборы
          %li Статьи
          %li Репортажи
    .salsa-all-list.col-10
      .list-i
        .col-4
          = image_tag('stubs/salsa_all/1.jpg')
        .col-6
          %h3 Фестиваль сальсы с приведением майкла джексона!
          .span Добавлено 02.11.2014 Виолой Манятиной
          %p К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос! К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
          .show-more
            %span Подробнее
      .list-i
        .col-4
          = image_tag('stubs/salsa_all/1.jpg')
        .col-6
          %h3 Фестиваль сальсы с приведением майкла джексона!
          .span Добавлено 02.11.2014 Виолой Манятиной
          %p К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос! К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
          .show-more
            %span Подробнее
      .list-i
        .col-4
          = image_tag('stubs/salsa_all/1.jpg')
        .col-6
          %h3 Фестиваль сальсы с приведением майкла джексона!
          .span Добавлено 02.11.2014 Виолой Манятиной
          %p К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос! К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
          .show-more
            %span Подробнее