.list.col-8
  .list-wrapper
    %h3 Оглавление
    %ul
      %li Сальса
      %li Меренге
      %li Бачата
      %li Руэда
      %li Сон
      %li Ча-ча-ча
      %li Реггетон

      %h3 Сальса

      %p Сальса (исп. salsa - соус) - музыкальный жанр, популярный в Латинской Америке и среди выходцев из нее. Сальса включает много стилей и вариаций, и в широком смысле термин можно использовать для практически любой музыки кубинского происхождения (к примеру, ча-ча-ча, болеро, мамбо). Этот музыкальный стиль сейчас широко распространен не только в Латинской Америке, но по всему миру. Самыми близкими стилями к сальса являются кубинское мамбо и сон начала XX века, а также латиноамериканский джаз.

      %p Сальса - горячий и пряный танцевальный стиль, полный экзотического латинoамериканского аромата. Танец сальса верен своему названию и по сути, и по содержанию. Сальса появилась на окраинах городов, в их беднейших кварталах, а в этом танце человек получил возможность выразить самого себя и на время забыть о своих проблемах, отдавшись во власть мелодии, ритма и танца. Сальса – это флирт, выраженный в танце. Это буря эмоций, страсти и огненной энергии. Искрометные повороты и вращения совместно с импровизацией партнеров превращают этот танец в настоящее шоу, в котором каждый может выразить свои эмоции.

      %p Стилистически сальса связана в основном с афро-кубинской традицией, хотя она содержит в себе пуэрториканские, колумбийские и другие латиноамериканские влияния, включая поп, джаз, рок, R’n’B. Сальса включает элементы многих латиноамериканских и афрокарибских танцев, таких как кумбия, бачата, руэда и множество других. Большое значение играют сольные повороты, совместные вращения и импровизация исполнителей, но главной чертой, доминантой, этого танца является идея флирта, заигрывание друг с другом, демонстрирование противоположному полу своих достоинств, что в корне отличает сальса от своего ближайшего родственника - танца мамбо.

      %p Современная сальса в основном ориентирована на танец, и прочно связана с танцем исполняемым под неё. Сальса – музыкальный жанр, изначально популярный в основном в Латинской Америке и среди выходцев из нее, стал на сегодняшний день одним из самых любимых во всем мире. Сальса включает много стилей и вариаций: Сальса Касино (Salsa Casino), Венесуэльская (доминиканская) сальса, Колумбийская сальса, Сальса Лос-Анджелес (Salsa L.A.), Сальса Нью-Йорк (Salsa NY), Сальса Пуэрто-Рико (Salsa Puerto-Rico).


      %h3 Меренге


      %p Меренге (исп. merengue - пирожное меренга) - музыкальный стиль и танец Доминиканской Республики, получивший также широкое распространение в латиноамериканских странах Карибского бассейна, а также в тех из латиноамериканских общин США, где преобладают выходцы из этих стран. Меренге стремительно завоевывало симпатии доминиканского общества и постепенно вытесняло некоторые другие танцевальные ритмы.

      %p Меренге - энергичный латиноамериканский парный танец, движения которого носят легкий эротический характер, в этом танце очень важен элемент флирта и импровизации. Сегодня меренге является одним из самых популярных латиноамериканских танцев. Если вы можете ходить, значит, вы сможете и станцевать меренгу. Меренге не требует простора, танцевать ее можно на любом пятачке свободного пространства.

      %p Движения меренге просты, но меренге использует большое количество фигур и украшений, в частности, круговые движения бедер, вращение корпусом, движения плечами в убыстренном темпе. Многие из этих движений произошли из фольклорного варианта меренге.

      %p Музыка меренге ритмична и приятна не только для тех, кто под нее двигается, но и для тех, кто ее просто слушает.


      %h3 Бачата


      %p Бачата (исп. Bachata - шумное веселье) – музыкальный стиль и танец, как и меренге, родился в Доминиканской Республике во время народных гуляний. Но, в отличие от энергичного и беззаботной меренге, бачата создана для несколько иного времяпровождения. Не зря она получила название «musica de amargue» — музыка горечи. Темп ее гораздо более медленный, а тексты повествуют о страданиях неразделенной любви. Бачата получила широкое распространение в латиноамериканских странах Карибского бассейна.

      %p Хореография бачаты сравнительно проста: четыре шага из стороны в сторону либо вперед-назад с акцентом на последний, в этот момент нога вытягивается немного вперед и ставится на мысок. Партнёры танцуют на очень близком расстоянии друг от друга, тем самым превращая танец в игру-флирт, совершая также легкие круговые движения сцепленными руками. Главная цель в танце — тесный контакт с партнером, поэтому поворотов крайне мало, но довольно часто используются боковые проходы и «перекидывание» дамы из стороны в сторону.

      %p Бачата – пожалуй, самый романтичный и чувственный танец, который является воплощением нежности и любви. Движения довольные просты, но при помощи различных элементов, танец становится невероятно увлекательным и завораживающим.


      %h3 Руэда
      %p Руэда (исп. rueda - колесо, круг) — особая, кубинская по происхождению, разновидность танца сальса, исполняемая несколькими парами одновременно (от двух и более пар). Танцующие пары выстраиваются по кругу и по команде одного из участников, называемого «певцом» (исп. cantor), как правило, мужчины (padre), реже женщины (madre), слаженно выполняют определённые фигуры, сменяя партнёров по кругу.

      %p В руэда используются движения как обыкновенной, парной сальса, так и специфические движения, характерные только для неё. Поскольку фигуры руэда не стандартизированы (в каждой танцевальной компании или школе они могут отличаться как названиями, так и вкладываемым в них смыслом), любой участник руэда должен знать движения, принятые в данной конкретной руэде, и следовать указаниям лидера.

      %p Руэда чем-то напоминает хоровод, но танцуется парами с частой сменой партнеров и партнерш. Для руэда характерны фигуры основанные на узлах с очень четким и аккуратным выходом, не отпуская при этом рук партнерши до моменты обмена парами. Партнеры передают партнерш по кругу и импровизируют по музыке. Сейчас на Кубе получила распространение руэда де касино так называемого нового стиля, для которой характерна перестройка из круга в линию в рамках танцевания руэда, формирование нескольких кругов руэды либо рядом, либо один внутри другого и так называемые dua- элементы, которые танцуют в рамках руэды по две пары, которые после окончания фигуры снова возвращаются в общий круг, а также использование акробатических элементов. Также для современной руэды характерна более частая смена партеров и партнерш, так за время исполнения одной фигуры партнеры и партнерши могут смениться несколько раз.

      %h3 Сон
      %p (Son (исп.) – звук, звучание; слух, молва; повод; манера).
      Музыкальный стиль сон появился на востоке Кубы, в ее горных районах. Это была новая музыка – сочетание испанской лирики и африканских музыкальных форм. Патриотичная по характеру, так как в это время шла война за независимость Кубы от испанских колонизаторов.

      %p Сон как стиль кубинской музыки, зародившийся на Кубе, получил мировую известность в начале 1930-х годов. Сон объединил в себе элементы музыки кампесино (фермеров испанского происхождения) с африканскими ритмами и ударными инструментами (музыкой африканских рабов). Он лежит в основе многих известных стилей афро-кубинской танцевальной музыки. В Нью-Йорке сон смешался с другими музыкальными стилями, что повлияло на создание другого направления музыки - сальса.

      %p Сон танцуют в паре, но в зависимости от стиля танец имеет различный темп. Например, сон монтуно достаточно медленный танец, а сон гуарача очень быстрый.

      %h3 Ча-ча-ча


      %p Ча-ча-ча (исп. cha cha cha) - ритмичный латиноамириканский танец, который родился в процессе эволюции и экспериментов кубинского композитора Энрике Хоррина (Enrique Jorrin, 1926—1987) с Дансоном, в 50-х годах XX века. Ча-ча-ча, как танец, восхитителен, энергичен, сексуален и кокетлив. Стиль ча-ча-ча легко отличим от других танцев благодаря его ритму — «Шаг, Шаг, Ча, Ча, Ча». Озорная музыка ча-ча-ча никого не оставит равнодушным.

      %p Ча-ча-ча - музыкальный стиль и танец Кубы - получил широкое распространение в латиноамериканских странах Карибского бассейна, а также в тех из латиноамериканских общин США, где преобладают выходцы из этих стран.

      %p Ча-ча-ча — это также один из пяти танцев латиноамериканской программы бальных танцев.


      %h3 Реггетон


      %p Реггетон (исп. reggaetón или reguetón, англ. reggaeton) - музыкальный стиль и танец, возникший в Панаме и Пуэрто-Рико под влиянием регги, дансхолла и рэпа, и получивший широкое распространение в латиноамериканских странах Карибского бассейна, а также среди латиноамериканцев, проживающих в США.

      %p Реггетон возник в начале 1990-х годов, вобрав в себя влияние ямайской музыки регги, техно - музыки, рэпа, а также традиционных стилей пуэрториканской музыки - бомбы и плены. Реггетон сходен с североамериканским хип-хопом: ритмичная музыка в сочетании с рэп - речитативом. В середине 90-х стиль проникает в среду латиноамериканцев, живущих в США, при этом местная молодёжь воспринимает это направление музыки с большим энтузиазмом - отчасти благодаря современному звучанию, а отчасти благодаря его латиноамериканскому происхождению. Хотя реггетон испытал большое влияние хип-хопа, было бы неправильным считать его просто «испанизированной» версией этого стиля, поскольку реггетон имеет несколько иной ритм.

      %p Реггетон - это танец смелых, раскрепощенных, эмоциональных и уверенных в себе. Этот слегка агрессивный, но в то же время очень чувственный танец является воплощением страсти и любви на танцполе. Реггетон танцуется как в паре, так и соло.