.salsa-all-menu.col-2
  %ul
    %li.active
      Новости
    %li
      История
    %li
      Стили
    %li
      Обучающее видео
    %li
      Музыка
    %li
      Фильмы
    %li
      Словарь


