- content_for(:main_wrapper_class, 'salsa-all')

.row.wrapped
  = render 'pages/salsa_all/search_menu'
  = render 'pages/salsa_all/list_news'
  -# = render 'pages/salsa_all/list_history'
  -# = render 'pages/salsa_all/list_styles'
  -# = render 'pages/salsa_all/list_video'
  -# = render 'pages/salsa_all/list_musik'
  -# = render 'pages/salsa_all/list_films'
  -# = render 'pages/salsa_all/list_vocabulary'