.search-menu.col-2
  .search-menu-wrapper
    = render 'components/city_select';
    %div
      %h3 Поиск по стилям
      %ul
        %li
          %label
            %input{type: 'checkbox'}
              Сальса
        %li
          %label
            %input{type: 'checkbox'} Бачата
        %li
          %label
            %input{type: 'checkbox'} Реггетон
        %li
          %label
            %input{type: 'checkbox'} Зук
        %li
          %label
            %input{type: 'checkbox'} Ча-ча
        %li
          %label
            %input{type: 'checkbox'} Меренге
    %div
      %h3 Только с открытым набором
      %ul
        %li
          %label
            %input{type: 'checkbox'} Да
        %li
          %label
            %input{type: 'checkbox'} Нет
    %div
      %h3 Сортировать по
      %ul
        %li
          %label
            %input{type: 'checkbox'} Рейтенгу
        %li
          %label
            %input{type: 'checkbox'} Количеству просмотров
        %li
          %label
            %input{type: 'checkbox'} Количеству комментариев
        %li
          %label
            %input{type: 'checkbox'} По цене
        %li
          %label
            %input{type: 'checkbox'} По расстоянию от моего дома
    %div.name-search
      %h3 Поиск по названию
      %input
      =image_tag('icons/search-icon.png');

