.left-column-i{
  background-color: $color-blocks-layout;
  position: relative!important;
}

.left-column h1{
    margin-bottom: 0;
}

.school-map{
  img{width: 100%;}
}

.events-map{
  img{width: 100%;}
}