.right-column.col-7.col-sm-2
  .right-column-i.map.no-stripe.col-7.col-xs-2.col-sm-7
    =image_tag("stubs/map/map.PNG")
  .right-column-i.col-7.col-xs-2.col-sm-7
    .address
      %h3 Адресс:
      %span Баррикадная, 2а
  .right-column-i.banner.no-stripe.col-7.col-xs-2.col-sm-7
    %figure
  .right-column-i.school-news.col-7.col-xs-5.col-sm-7
    .school-news-wrapper
      %h2 Новости школы
      .line
      .school-news-i
        Мы провели отличную вечеринку в клубе "Перепейка", а вот и наш фотоотчет.
        .show-more
          %span Смотреть подробнее
      .line
      .school-news-i
        Мы провели отличную вечеринку в клубе "Перепейка", а вот и наш фотоотчет.
        .show-more
          %span Смотреть подробнее
      .line
      .school-news-i
        Первая оранжевая сальсатека в Днепропетровске, Фестивальный причал, 15 августа начало в 19:00
        .show-more
          %span Смотреть подробнее
      .line
      .show-more
        %span Больше новостей
      .clear
  .clear
