.administration{

  .administration-i,.add{height: 200px;}

  .administration-i{
    width: 49%;
    background: $color-white;
    float: left;
    margin-bottom: 2%;
  }

  .administration-i:nth-child(2n+1){margin-right: 2%;}

  .add{
    width: 40%;
    background: $color-additional-blocks;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5em;
    font-weight: bold;
    float: left;

    a{text-align: center;}

    &:hover{
      cursor: pointer;
      background: $color-additional-blocks-hover;
    }
  }

  .add-list span{
    text-align: center;
    font-weight: bold;
  }
}