.rewiew{
  h3{padding-bottom: 15px;}
}

.rewiew-i{
    padding-bottom: 20px;
    padding-top: 20px;
    overflow: hidden;
    border-top: 1px solid $color-grey-strong;
    .col-2{text-align: right;}

    .rewiew-i-block:nth-child(3){
    padding-left: 120px;
    padding-top: 20px;
    overflow: hidden;
  }

    .comments-img{
      img{
        border-radius: 90px;
        margin-right: 3%;
      }
      width: 120px;
      float: left;}

    img{
      display: inline-block;
      max-width: 90px;
      width: 100%;
    }


    .col-7{overflow: hidden;}

    .name{
      font-weight: bold;
      margin-right: 2%;
    }

    .date{
      color: $color-grey-light;
      margin-right: 0;
    }

    .comment{
      padding-top: 20px;

      p{text-indent: 0;
      padding-left: 120px;}
      span{
        font-weight: bold;
        color: $color-blue;
      }
    }
  }