.events-header.row
  .events-header-place.col-10.col-xxs-4.col-md-5
    %h2 Мероприятия&nbsp;в
    %select{name: 'place'}
      %option Днепропетровске
      %option Украине
      %option Мире
  %ul.events-type.col-10.col-xxs-4.col-md-4
    %li.active
      %a Сальсатеки
    %li
      %a Вечеринки
    %li
      %a Фестивали
    %li
      %a Все
  .calendar.col-10.col-xxs-2.col-md-1
    = image_tag('icons/calender-icon.png')
    %div
      %span Выбрать дату
.line
  = render 'components/events_list'
.clear
.show-more
  %span Больше событий
.clear