%h2 В мире сальсы
.line
%ul.salsa-info-ul
  %li.hst
    %h3 История сальсы
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.mw
    %h3 Фильмы о сальсе
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.vcblr
    %h3 Сальса - словарь
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.stl
    %h3 Стили сальсы
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.vd
    %h3 Обучающее видио
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.mstrs
    %h3 Сальса-музыка
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
.clear