%h1 В мире сальсы
.line
%ul.salsa-info-ul
  %li.hst
    %h2 История сальсы
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.mw
    %h2 Фильмы о сальсе
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.vcblr
    %h2 Сальса - словарь
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.stl
    %h2 Стили сальсы
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.vd
    %h2 Обучающее видио
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
  %li.mstrs
    %h2 Сальса-музыка
    %div К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос К нам едет Френсис! Френсис - большой друг всех латвийских сальсерос!
.clear