.left-column.col-7
  .left-column-i.no-wrapped
    = render 'components/menu_copy'
  .left-column-i.top-schools-wrapper.col-7.wrapped
    = render 'pages/home/school_top'
  .left-column-i.col-7.school-map.no-wrapped
    =image_tag("stubs/map/map_school.JPG")
  .left-column-i.events.wrapped
    = render 'pages/home/events'
  .left-column-i.col-7.events-map.no-wrapped
    =image_tag("stubs/map/map_school.JPG")
  .left-column-i.salsa-info.wrapped
    = render 'pages/home/info_block'


