.right-column.col-7.col-xs-2
  .top-schools-wrapper.right-column-i
    .top-schools
      %h1 Рейтинг школ Днепропетровска
      .line
      .top-schools-i
        .top-school-photo
          -# =image_tag("components/top_school/medal1.png", class: 'school-medal')
          =image_tag("stubs/top_school/news1.jpg")
        .top-school-name Cubana Dance
        = render 'components/rating'
        .top-school-address ул. Баррикадная, 2
        .top-school-link-more
          %span Подробнее
        .clear
      .top-schools-i
        .top-school-photo
          -# =image_tag("components/top_school/medal2.png", class: 'school-medal')
          =image_tag("stubs/top_school/news10.jpg")
        .top-school-name Cubana Dance
        = render 'components/rating'
        .top-school-address ул. Баррикадная, 2
        .top-school-link-more
          %span Подробнее
        .clear
      .top-schools-i
        .top-school-photo
          -# =image_tag("components/top_school/medal3.png", class: 'school-medal')
          =image_tag("stubs/top_school/news11.jpg")
        .top-school-name Cubana Dance
        = render 'components/rating'
        .top-school-address ул. Баррикадная, 2
        .top-school-link-more
          %span Подробнее
        .clear
    .show-more
      %span Все школы
    .clear
  .right-column-i.sets
    %h1 Набор в группы
    .line
    .sets-i-wrapper
      .sets-i
        .sets-name
          %span Школа:
          %span Latina Dance
        .sets-level
          %span Уровень:
          %span Начинающий
        .sets-start
          %span Старт занятий
          %span сентябрь 2014
      .show-more
        %span Смотреть подробнее
    .line
    .sets-i-wrapper
      .sets-i
        .sets-name
          %span Школа:
          %span Latina Dance
        .sets-level
          %span Уровень:
          %span Начинающий
        .sets-start
          %span Старт занятий
          %span сентябрь 2014
      .show-more
        %span Смотреть подробнее
    .line
    .sets-i-wrapper
      .sets-i
        .sets-name
          %span Школа:
          %span Latina Dance
        .sets-level
          %span Уровень:
          %span Начинающий
        .sets-start
          %span Старт занятий
          %span сентябрь 2014
      .show-more
        %span Смотреть подробнее
    .show-more
      %span Все наборы
    .clear
  .right-column-i.social-networks-banner.no-stripe
    =image_tag("components/social_banner/network.jpg")
