%h1 Школы латиноамериканских танцев Днепропетровска
.line
.top-schools
  .top-schools-i
    .top-school-name Cubana Dance
    = render 'components/rating'
    .top-school-photo
      =image_tag("stubs/top_school/news1.jpg")
      .overlay
    .clear
  .top-schools-i
    .top-school-name Cubana Dance
    = render 'components/rating'
    .top-school-photo
      =image_tag("stubs/top_school/news10.jpg")
      .overlay
    .clear
  .top-schools-i
    .top-school-name Cubana Dance
    = render 'components/rating'
    .top-school-photo
      =image_tag("stubs/top_school/news11.jpg")
      .overlay
  .clear
.show-more
  %span Все школы
.clear