.main-column-i{

	.social-networcs-links{float: right;}

	.school-header{
		overflow: hidden;

		.add-to-favorit{
			display: flex;
			justify-content: flex-end;
			background: $color-grey-super-light;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 50px;
			float: right;
			color: $color-black-light;

			&:hover{
				background: $color-stripes;
				color: $color-white;
				cursor: pointer;
			}
		}

		.top-school-rate{
			margin-bottom: 0;
			line-height: 2em;
			display: flex;
			align-items: center;

			.rating-stars{
				line-height: 0;
			}

			&:before{
				content: '9.99';
				font-weight: bold;
				width: 45px;
				height: 28px;
				float: left;
				// background: #FEAE16;
				padding: 5px;
				border-radius: 20px;
				font-size: 1.5em;
				color: $color-black-light;
			}
		}
	}

	.contacts-wrapper{
		overflow: hidden;
		display: flex;
		justify-content: space-between;

		a{
			display: block;
			font-family: 'Roboto', sans-serif!important;
			@include dotted_links;
			&:hover{@include link_blue;}
		}
	}

	.school-description-wrapper{
		overflow: hidden;
		padding-top: 10px;
	}

	.school-img{width: 100%;}

	.description-text{
		padding-bottom: 5%;
		text-align: justify;
		padding: 0 0 0 20px;

		p{
			// text-indent: 1.2em;
			margin-bottom: 2%;
		}
	}



	.video{
		.video-i{
			width: 100%;
			iframe{
				width: 100%;
				height: 270px;}
		}
	}

	form{
		padding-top: 10px;
	}
}


.map{
	background: transparent;
	img{
		display: block;
		width: 100%;
	}
}

.address {

	h3:before{
		content: '';
		float: left;
		position: relative;
		width: 13px;
		height: 19px;
		background-image: image-url('components/map/address_icon.png');
		margin-right: 5px;
	}

	span{
		@include dotted_links;
		@include link_blue;
	}
}

.school-news{
	margin-right: 0!important;
	display: flex;
	justify-content: space-between;

	.school-news-wrapper{

		.school-news-i{
			text-align: justify;

			.show-more{
				margin-top: 5%;
				float: none;
				text-align: left;

				&:after{
					content: ''!important;
					width: 0!important;
					height: 0!important;
				}
			}
		}
	}
}

@include breakpoint (xs) {
	.schedule{
		display: table;
		}

	.schedule-icon{
		display: none;
	}
}





