.contact-date.col-6
  %div
    %h3 О нас
    %p Please use the contact form on the right side if you have any questions or requests, concerning our services.
    %p We will respond to your message within 24 hours.
    %p Below you can find a quick roadmap to get to our office.
  %div
    %h3 Наши контактные данные:
    %div Email : cubanadance@gmail.com
    %div Skype : cubanadance
    %div
      Мы в соц. сетях:
      = render 'components/social'