.contact-form.col-4
  %form
    .form-header.col-10
      %div.col-10
        %label.col-2 Ваше имя:
        .col-8
          %input{type: 'text'}
      %div.col-10
        %label.col-2 Ваш email:
        .col-8
          %input{type: 'text'}
    .col-10
      %textarea
      %button Отправить