.schools-list {

  .row{
    padding-top: 5px;
  }

  .left-column-i{
    height: 1350px;
    background: red;
  }

  .right-column-i{
    margin-bottom: 2.5%;
    height: 260px;
    background: green;
  }



}



