.schools-list {

  .row{
    padding-top: 5px;
  }

  .left-column-i{
    height: 1350px;
    background: $search_menu;
  }

  .right-column-i{
    margin-bottom: 2.5%;
    height: 260px;
  }

.line{margin: 0;}


}



