.search-menu{
  // width: 240px;
  height: 100%;
  // background: $color-white;

  input{
    border: none;
    box-shadow: none;
    margin-right: 10px;
  }

  label{cursor: pointer;}
}

  .search-menu-wrapper{
  height: 100%;



    div {
        border-bottom: 1px solid $color-grey-strong;
        box-shadow: inset 0 1px 0 #fff;
        padding: 15px 15px 15px 0;

        &:nth-last-child(1){border: none;}
      }

    h2{padding: 10px 0;}

    .name-search{
      input{
        border: none;
        box-shadow: none;
        border-bottom: 1px solid $color-grey-strong;
        width: 76%;
        position: relative;
        float: left;

      }
      img{width: 35px;}
    }
  }

.fixed-menu{
  margin-top: 110px;
}







