.brand_book{
  background: #fff;
  padding: 20px;

  li{
    width: 300px;
    height: 20px;
    margin-bottom: 10px;
  }

  li:nth-child(1){
    background: $color-black;
  }
  li:nth-child(2){
    background: $color-black-light;
  }
  li:nth-child(3){
    background: $color-orange;
  }
  li:nth-child(4){
    background: $color-orange-light;
  }
  li:nth-child(5){
    background: $color-orange-super-light;
  }
  li:nth-child(6){
    background: $color-orange-strong
  }
   li:nth-child(7){
    background: $color-grey-light;
  }
  li:nth-child(8){
    background: $color-grey;
  }
  li:nth-child(9){
    background: $color-grey-strong;
  }
  li:nth-child(10){
    background: $color-grey-super-strong;
  }

  li:nth-child(11){
    background: $color-blue;
  }
  li:nth-child(12){
    background: $color-blue-light;
  }
  li:nth-child(13){
    background: $color-yellow;
  }
  li:nth-child(14){
    background: $color-green-light;
  }
   li:nth-child(15){
    background: $color-pink;
  }
}

