.top-schools{
 	margin-top: 0;
 	display: flex;
	overflow: hidden;
	justify-content: space-between;
}

.top-schools-i{
	margin-bottom: 20px;
	margin-right: 5%;
	display: inline-block;
	text-align: center;
	float: left;

	.top-school-rate{
		margin-bottom: 10px;
		margin-top: 9px;}

	.top-school-photo{
		float: none;
		position: relative;
		margin: auto;

		img{width: 100%;}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			right:0;
			bottom:0;
			display: none;
			background-color: rgba(0,0,0,0.5);

		}

		&:hover .overlay {
			display: block;
			cursor: pointer; }

		.school-medal{
			position: absolute;
			width: 40px;
			height: 73px;
			top: -13px;
			left: -19px;
		}
	}

	.top-school-name{
		font-weight: bold;
		color: $color-black-light;
		margin-bottom: 10px;
		font-size: 25px;


		&:hover{
		cursor: pointer;
		}
	}

	.show-more{
		text-align: center;
		position: relative;
		padding-right: 14px;
	}

	.top-school-address{
		font-size: 0.8em;
		color: $color-grey-light;
	}

	&:nth-last-child(1){margin-right: 0;}

	.top-school-link-more{
			width: 100px;
			height: 30px;
			line-height: 30px;
			display: inline-block;
			margin-bottom: 10px;

			span{
				@include dotted_links;
				&:hover{@include hover_link;}
			}


	}
}

@include breakpoint(lg) {
	.top-schools-i{
		text-align: left;

		.top-school-photo{
			// margin-right: 20px;
			float: left;
		}
	}
}

@include breakpoint (xs) {
	.top-schools-i{
		display: block;
		margin-right: 0;
	}
}










