//Marina
// $color-main: #FFFEDE;
// $color-stripes: #E77718;
// $color-blocks-layout: #fff;

// Color_sheme №1: Peach - Vinous - White
$color-main: #E7D9B7;
$color-stripes: #A83F3F;
$color-blocks-layout: #fff;
$color-additional-blocks: #86C2A2;
$color-additional-blocks-hover: #9AD284;
$color-button: linear-gradient(to bottom, #3498db 0%, #2980b9 100%);
$color-button-hover: linear-gradient(to bottom, #3cb0fd 0%, #3498db 100%);

//Color_sheme №2: Red - Orange -White
// $color-main: #8F0100;
// $color-stripes: #FDD056;
// $color-blocks-layout: #fff;

// Color_sheme №3: Peach - Orange - White
// $color-main: #F7E2C0;
// $color-stripes: #FAC716;
// $color-blocks-layout: #fff;

// Color_sheme №4: brown
// $color-main: linear-gradient(to bottom, #E5BA84 0%, #E5BA84 100%);
// $color-stripes: linear-gradient(to bottom, #C27937 0%, #733803 100%);
// // $color-main: #E5BA84;
// // $color-stripes: #9F5817;
// $color-blocks-layout: #fff;

