// $color-main: #FFFEDE;
// $color-heder: #E77718;

$color-main: #E7D9B7;
$color-heder: #A83F3F;



$color-white: #fff;

$color-black:#000;
$color-black-light: #373636;

$color-orange: #FF920B;
$color-orange-light: #ffe08f;
$color-orange-super-light: #FFF3D5;
$color-orange-strong: #E73029;

$color-grey-super-light: #EDEDED;
$color-grey-light: #A9A9A9;
$color-grey: #CFCDCD;
$color-grey-strong: #CFCDCD;
$color-grey-super-strong: #5F5F5F;


$color-blue: #4AACD7;
$color-blue-light: #B5E9FF;



$color-yellow: rgb(250, 255, 175);
$color-green-light:#CCFFAA;
$color-pink: rgb(255, 200, 205);