.banner{
  padding: 0;
}

.banner figure{
  background-image: image-url('pages/home/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-top: 16.66%;
}

