.coach{
  display: flex;
  align-item: center;
  justify-content: center;

  div{
    width: 33%;
    display: table;
    text-align: center;
    div{
      width: 100%;
      span{
        margin-top: 10px;
        @include dotted_links;
        @include link_blue;
      }
    }
  }

  img{border-radius: 50px;}

}