.overlay-img{
      position: relative;
      cursor: pointer;
      height: 270px;
      overflow: hidden;

      .overlay {
        position: absolute;
        height: 74px;
        top: 176px;
        left: 0;
        right:0;
        bottom:0;
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        font-size: 2em;
        padding: 10px;
      }
      //   &:hover .overlay{
      //   display: none;
      // }
    }


