.news{
  position: relative;

    h1{
      margin-bottom: 3%;
    }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: $color-orange-light;
}


