.tag-wrapper {
      padding-bottom: 3%;

      ul{
        overflow: hidden;
        display: flex;
        justify-content: flex-end;

        span{
          display: flex;
          align-items: center;
          margin-right: 10px;
        }
      }

      li{
        float: left;
        padding: 2.5%;
        margin-right: 2%;
        background: $color-stripes;
        color: $color-white;

        &:hover{
          color: $color-white;
          background: $color-stripes;
          cursor: pointer;
        }

        &:nth-last-child(1){margin-right: 0}
      }
    }