.contacts{


  form{
    border-left: 1px solid $color-grey-strong;
    padding-left: 25px;
    overflow: hidden;
  }
  input{
    width: 99%;
    margin-bottom: 15px;
  }
  textarea{width: 99%;}

  button{
    float: right;
    border: 1px solid $color-grey-strong;
    padding: 10px;
    cursor: pointer;
  }

  h1{font-size: 2.5em;}

  h2{
    font-size: 2em;
    font-weight: bold;
  }

  h3{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
  }
}