.row{
	clear: both;
 .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
 .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
 .col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4, .col-xxs-5, .col-xxs-6,
 .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6
	{
		&:nth-last-child(1){margin-right: 0;}
	}
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6{

	float: left;
	margin-right: 1.666666666666667%;
}

.col-1{
	width: 12.85714285714286%;
}

.col-2{
	width: 27.38095238095238%;
}

.col-3{
	width: 41.90476190476191%;
}

.col-4{
	width: 56.42857142857144%;
}

.col-5{
	width: 70.95238095238097%;
}

.col-6{
	width: 85.47619047619049%;
}

.col-7{
	width: 100%;
}