* html .page-wrapper, html, body {height: 100%;}

body{
	font-size: 0.9em;
  color: $color-grey-super-strong;
  background: $color-blocks-layout;
  background-image: image-url('bg3.png');
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	color: $color-black-light;
	}

h1{font-size: 2.3em;}

h2{font-size: 1.5em;}

h3{font-size: 1em;}

p{text-align: justify;}


.page-wrapper{
	min-height: 100%;
  // margin-bottom: -240px;
}


.line{
	border-top: 1px solid $color-grey;
	margin-top: 15px;
  margin-bottom: 15px;
}

body > .line{
	margin: 0;
}

.no-stripe:before{
	display: none!important;
}

.clear{
	clear: both;
}

.fixed {
  position:fixed;
  top:0;
}

.wrapped{
  max-width: 1200px;
  margin: auto;
  padding: 30px 25px 0 25px;
  // padding: 30px 25px;
  overflow: hidden;
}

.no-wrapped{
  max-width: 1250px;
  margin: auto;
}

img{display: block;}

 // .left-column:nth-child(1){margin-top: 5px;}

 .none{display: none;}

 .aligne-center{text-align: center;}