.administration.col-8
  .administration-i
    .add
      %a
        Добавить
        %br
        школу
    .add-list
      %div Чтобы добавить школу кликните
      %span Добавить школу
  .administration-i
    .add
      %a
        Добавить
        %br
        мероприятие
    .add-list
      %div
        Вы добавили
        %span.number 20
        мероприятий
      %div
        %ul
          %li Сальса вечер на пляже
          %li Сальса с вином
          %li Бачата на луне
          %li Чёрт и рускалка танцуют зук
      .show-all
        %a Просмотреть все
  .administration-i
    .add
      %a
        Добавить
        %br
        фотоотчёт
    .add-list
      %div
        Вы добавили
        %span.number 20
        фотоотчётов
      %div
        %ul
          %li Сальса вечер на пляже
          %li Сальса с вином
          %li Бачата на луне
          %li Чёрт и рускалка танцуют зук
      .show-all
        %a Просмотреть все
  .administration-i
    .add
      %a
        Добавить
        %br
        новость
    .add-list
      %div
        Вы добавили
        %span.number 20
        новостей
      %div
        %ul
          %li Сальса вечер на пляже
          %li Сальса с вином
          %li Бачата на луне
          %li Чёрт и рускалка танцуют зук
      .show-all
        %a Просмотреть все
  .administration-i
    .add
      %a
        Добавить
        %br
        музыку
    .add-list
      %div
        Вы добавили
        %span.number 20
        записей
      %div
        %ul
          %li Сальса вечер на пляже
          %li Сальса с вином
          %li Бачата на луне
          %li Чёрт и рускалка танцуют зук
      .show-all
        %a Просмотреть все
  .administration-i
    .add
      %a
        Добавить
        %br
        фильм
    .add-list
      %div
        Вы добавили
        %span.number 20
        записей
      %div
        %ul
          %li Сальса вечер на пляже
          %li Сальса с вином
          %li Бачата на луне
          %li Чёрт и рускалка танцуют зук
      .show-all
        %a Просмотреть все
