.administration.col-8
  .administration-i
    .add
      %a Добавить школу
    .add-list
      %div Чтобы добавить школу кликните
      %span Добавить школу
  .administration-i
    .add
      %a Добавить мероприятие
    .add-list
      %div
        Вы добавили
        %span 20
        мероприятий
      %div
        %ul
          %li Сальса вечер на пляже
          %li Сальса с вином
          %li Бачата на луне
          %li Чёрт и рускалка танцуют зук
  .administration-i
    .add
      %a Добавить фотоотчёт
    .add-list
      %div
        Вы добавили
        %span 20
        фотоотчётов
  .administration-i
    .add
      %a Добавить новость
    .add-list
      %div
        Вы добавили
        %span
          20
        новостей
  .administration-i
    .add
      %a Добавить музыку
    .add-list
      %div
        Вы добавили
        %span 20
        записей
  .administration-i
    .add
      %a Добавить фильм
    .add-list
      %div
        Вы добавили
        %span 20
        записей
