.bookmarks.col-8
  .tag.col-10
    .tag-wrapper.col-10
      %h3 Всего 35 закладок
      %ul
        %li Мероприятия
        %li Школы
        %li Фотоотчёты
        %li Статьи
  .bookmarks-wrapper.bookmarks-photoreport
    = render 'components/school_news'
