.bookmarks.col-8
  .tag.col-10
    .tag-wrapper.col-10
      %h3 Всего 35 закладок
      %ul
        %li Школы
        %li Мероприятия
        %li Фотоотчёты
        %li Статьи
  .bookmarks-wrapper
    .bookmarks-i
      .bookmarks-i-photo
        = image_tag('stubs/news/news1.jpg')
      %h3 Школа Кубана денс
    .bookmarks-i
      .bookmarks-i-photo
        = image_tag('stubs/news/news1.jpg')
      %h3 Школа Кубана денс
    .bookmarks-i
      .bookmarks-i-photo
        = image_tag('stubs/news/news1.jpg')
      %h3 Школа Кубана денс
    .bookmarks-i
      .bookmarks-i-photo
        = image_tag('stubs/news/news1.jpg')
      %h3 Школа Кубана денс
    .dummy
    .dummy
    .dummy
    .dummy
    .dummy
    .dummy