.rewiew.col-8
  %h3 Всего 35 отзывов
  .rewiew-i
    .rewiew-i-block.col-8
      .comments-img=image_tag("stubs/comments/1.JPG")
      .col-10
        %span.name Вадим Лазебный
        %span.date 16 октября 2012 в 20:110
      .comment.col-10
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .col-2=image_tag("stubs/event/event1.jpg")
  .rewiew-i
    .rewiew-i-block.col-8
      .comments-img=image_tag("stubs/comments/1.JPG")
      .col-10
        %span.name Вадим Лазебный
        %span.date 16 октября 2012 в 20:110
      .comment.col-10
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .col-2=image_tag("stubs/event/event1.jpg")
  .rewiew-i
    .rewiew-i-block.col-8
      .comments-img=image_tag("stubs/comments/1.JPG")
      .col-10
        %span.name Вадим Лазебный
        %span.date 16 октября 2012 в 20:110
      .comment.col-10
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .col-2=image_tag("stubs/event/event1.jpg")
    .rewiew-i-block.col-10
      .comments-img=image_tag("stubs/comments/2.JPG")
      .col-10
        %span.name Александр Белый
        %span.date 16 октября 2012 в 20:110
      .comment.col-10
        %p
          %span @Вадим Лазебный
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
  .rewiew-i
    .rewiew-i-block.col-8
      .comments-img=image_tag("stubs/comments/1.JPG")
      .col-10
        %span.name Вадим Лазебный
        %span.date 16 октября 2012 в 20:110
      .comment.col-10
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita non suscipit atque nostrum odio tempore totam odit mollitia earum inventore voluptatum dolorum, accusamus error necessitatibus saepe exercitationem explicabo amet. Placeat.
    .col-2=image_tag("stubs/event/event1.jpg")
