- content_for(:main_wrapper_class, 'cabinet')

.row.wrapped
  = render 'pages/cabinet/search_menu'
  = render 'pages/cabinet/administration'
  -# = render 'pages/cabinet/bookmarks_events'
  -# = render 'pages/cabinet/bookmarks_school'
  -# = render 'pages/cabinet/bookmarks_photoreport'
  -# = render 'pages/cabinet/bookmarks_articles'
  -# = render 'pages/cabinet/rewiew'
  -# = render 'pages/cabinet/profile'
