- content_for(:main_wrapper_class, 'cabinet')

.row.wrapped
  = render 'pages/cabinet/search_menu'
  = render 'pages/cabinet/administration'
  -# = render 'pages/cabinet/bookmarks'
  -# = render 'pages/cabinet/viewed'
  -# = render 'pages/cabinet/rewiew'
