%footer
  .footer-wrapper.row
    .footer-i.site-map.col-10.col-sm-5
      %ul.site-map-ul
        %li
          %h3 Главная
        %li Школы сальсы
        %li Мероприятия
        %li Новости
        %li Всё о сальсе
      %ul.site-map-ul
        %li
          %h3 Главная
        %li Школы сальсы
        %li Мероприятия
        %li Новости
        %li Всё о сальсе
      %ul.site-map-ul
        %li
          %h3 Главная
        %li Школы сальсы
        %li Мероприятия
        %li Новости
        %li Всё о сальсе
      %ul.site-map-ul
        %li
          %h3 Главная
        %li Школы сальсы
        %li Мероприятия
        %li Новости
        %li Всё о сальсе
    .footer-i.info.col-10.col-sm-5
      = render 'components/social'
      .clear
      .copyright LatinaDance.com @ 2014
