%header
  .header-black.col-7
    .news-line Зажигательная вечеринка на набережной! Спешите посетить!
    .login-wrapper
      .login-lable Логин с помощью
      %ul.login
        %li.vk
        %li.fb
        %li.tw
        %li.gl
  .header-wrapper.row
    .logo.col-7
      = image_tag('logo2.png')
    #main-menu.col-7
      %nav
        .nav-icon.col-7
          &#9776;
        %ul
          %li.hm.active-menu-li
            %a
              Главная
              %div
                %span.arrow-up
          %li.schl
            %a
              Школы сальсы
              %div
                %span.arrow-up
          %li.vnts
            %a
              Мероприятия
              %div
                %span.arrow-up
          %li.nws
            %a
              Новости
              %div
                %span.arrow-up
          %li.ll
            %a
              Всё о сальсе
              %div
                %span.arrow-up
          %li.cntcts
            %a
              Контакты
              %div
                %span.arrow-up
    .header-line

