%header
  .header-black.col-10
    .news-line Зажигательная вечеринка на набережной! Спешите посетить!
    .login-wrapper
      .login-lable Логин с помощью
      %ul.login
        %li.vk
        %li.fb
        %li.tw
        %li.gl
  .header-wrapper.row
    .logo.col-10
      = image_tag('logo2.png')
    #main-menu.col-10
      %nav
        .nav-icon.col-10
          &#9776;
        %ul
          %li.hm.active-menu-li
            %a(href='/')
              Главная
              %div
                %span.arrow-up
          %li.schl
            %a(href='/schools_list')
              Школы сальсы
              %div
                %span.arrow-up
          %li.vnts
            %a(href='/events_list')
              Мероприятия
              %div
                %span.arrow-up
          %li.pht
            %a(href='/photoreports_list')
              Фотоотчёты
              %div
                %span.arrow-up
          %li.ll
            %a(href='/salsa_all')
              Всё о сальсе
              %div
                %span.arrow-up
          %li.cntcts
            %a(href='/contacts')
              Контакты
              %div
                %span.arrow-up
    -# .header-line

