%head
  %title Salsa
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = csrf_meta_tags
  %link{href: 'http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,700,400,300&subset=latin,cyrillic', rel: 'stylesheet'}
  %link{href: 'http://fonts.googleapis.com/css?family=Roboto:400,700,300|Roboto+Condensed:400italic,700,400,300&subset=latin,cyrillic', rel: 'stylesheet'}

  :javascript
    $(document).ready(
      function(){ $(".owl-carousel").owlCarousel({
        margin: 10,
        loop: true,
        dots: true,
        dotsEach: 1,
        video: true,
        videoWidth: 100,
        videoHeight: 30
      })
    });